---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/react/Header.jsx";
import Footer from "../components/Footer.astro";
import VisitorMonitor from "../components/react/VisitorMonitor.jsx";

import { ClientRouter } from 'astro:transitions';

interface Props {
	title: string;
	description?: string;
	image?: string;
	wide?: boolean;
}

const { title, description, image, wide = false } = Astro.props;
---

<!doctype html>
<html lang="ko">
	<head>
		<BaseHead title={title} description={description} image={image} />
        <ClientRouter />
	</head>
	<body class="flex flex-col min-h-screen">
		<Header client:only="react" />
		<main
			class={`flex-grow w-full mx-auto px-4 py-8 ${wide ? "max-w-[1310px]" : "max-w-[700px]"}`}
		>
			<slot />
		</main>
		<Footer />
		<VisitorMonitor client:idle />
	</body>
</html>
